<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="right-form">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/director/right-form.css}">

    <div id="capture-area" style="display: none;"></div>
    <div class="modal-show-btn" >
        <
    </div>

    <div class="right-form-ar" id="r-f-ar">
        <div class="modal-top-btn-ar">
            <div class="modal-move-btn">
                +
            </div>
            <div class="modal-hide-btn">
                숨기기
            </div>
        </div>



        <!-- 문제 번호 영역 -->
        <div class="q-num-ar" style="margin-top: 5px;">
            <div class="option-title" style="width:20%;">문제 번호&nbsp;:</div>
            <textarea class="option-title t-ar" style="width:80%;" id="question-num"></textarea>
        </div>


        <!-- 문제 영역 -->
        <div class="q-sub-ar">
            <div class="q-sub-title cap-btn" data-id="question">문제 텍스트</div>
            <textarea class="q-sub-title t-ar" style="height:calc(100% - 30px);" id="question"></textarea>
        </div>

        <!-- 문제 보기 영역 -->
        <div class="q-sub-ar">
            <div class="q-sub-title cap-btn" data-id="question-sub">문제 보기</div>
            <textarea class="q-sub-title t-ar" style="height:calc(100% - 30px);" id="question-sub"></textarea>
        </div>




        <!-- 선택지(보기) 영역 -->
        <div class="option-ar" style="margin-top: 5px;">
            <div class="option-title cap-btn" data-id="option-1">선택지1&nbsp;:</div>
            <textarea class="option-title t-ar" style="width:calc(87% - 29px); font-size: 13px;" id="option-1"></textarea>
        </div>
        <div class="option-ar">
            <div class="option-title cap-btn" data-id="option-2">선택지2&nbsp;:</div>
            <textarea class="option-title t-ar" style="width:calc(87% - 29px); font-size: 13px;" id="option-2"></textarea>
        </div>
        <div class="option-ar">
            <div class="option-title cap-btn" data-id="option-3">선택지3&nbsp;:</div>
            <textarea class="option-title t-ar" style="width:calc(87% - 29px); font-size: 13px;" id="option-3"></textarea>
        </div>
        <div class="option-ar">
            <div class="option-title cap-btn" data-id="option-4">선택지4&nbsp;:</div>
            <textarea class="option-title t-ar" style="width:calc(87% - 29px); font-size: 13px;" id="option-4"></textarea>
        </div>
        <div class="option-ar" style="border-bottom: none;">
            <div class="option-title cap-btn" data-id="option-5">선택지5&nbsp;:</div>
            <textarea class="option-title t-ar" style="width:calc(87% - 29px); font-size: 13px;" id="option-5"></textarea>
        </div>


        <div class="r-form-btn-ar">
            <div class="reset-btn">모두 지우기</div>
            <div class="extract-submit-btn" style="margin-left: 10px;">문제 저장</div>
        </div>


    </div>
    <!-- html2canvas -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script th:src="@{/js/director/right-form.js}"></script>
</nav>