<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="right-form">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/director/right-form.css}">

    <div class="modal-show-btn" >
        <
    </div>

    <div class="right-form-ar" id="r-f-ar">
        <div class="modal-top-btn-ar">
            <div class="modal-move-btn">
                +
            </div>
            <div class="modal-hide-btn">
                숨기기
            </div>
        </div>



        <!-- 문제 번호 영역 -->
        <div class="q-num-ar" style="margin-top: 5px;">
            <div class="option-title" style="width:20%;">문제 번호&nbsp;:</div>
            <textarea class="option-title t-ar" style="width:80%;"></textarea>
        </div>


        <!-- 문제 영역 -->
        <div class="q-sub-ar">
            <div class="q-sub-title">문제 텍스트</div>
            <textarea class="q-sub-title t-ar" style="height:calc(100% - 30px);"></textarea>
        </div>

        <!-- 문제 보기 영역 -->
        <div class="q-sub-ar">
            <div class="q-sub-title">문제 보기</div>
            <textarea class="q-sub-title t-ar" style="height:calc(100% - 30px);"></textarea>
        </div>




        <!-- 선택지(보기) 영역 -->
        <div class="option-ar" style="margin-top: 5px;">
            <div class="option-title">선택지1&nbsp;:</div>
            <textarea class="option-title t-ar" style="width:calc(87% - 29px); font-size: 13px;"></textarea>
        </div>
        <div class="option-ar">
            <div class="option-title">선택지2&nbsp;:</div>
            <textarea class="option-title t-ar" style="width:calc(87% - 29px); font-size: 13px;"></textarea>
        </div>
        <div class="option-ar">
            <div class="option-title">선택지3&nbsp;:</div>
            <textarea class="option-title t-ar" style="width:calc(87% - 29px); font-size: 13px;"></textarea>
        </div>
        <div class="option-ar">
            <div class="option-title">선택지4&nbsp;:</div>
            <textarea class="option-title t-ar" style="width:calc(87% - 29px); font-size: 13px;"></textarea>
        </div>
        <div class="option-ar" style="border-bottom: none;">
            <div class="option-title">선택지5&nbsp;:</div>
            <textarea class="option-title t-ar" style="width:calc(87% - 29px); font-size: 13px;"></textarea>
        </div>




    </div>

    <script th:src="@{/js/director/right-form.js}"></script>
</nav>