<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="sidebar">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/director/sidebar.css}">



    <div class="side-bar-btn" data-type="hide">
        <
    </div>

    <div class="side-ar">
        <div style="width: 100%; height: 50px;"></div>

        <span class="side-title"> 내가 추출한 문제 </span>

        <div style="width: 100%; height: 15px;"></div>
        <div style="width: 100%; height: 45px; display: flex; justify-content: center; align-items: center;">
            <input class="side-form" placeholder="내 시험 찾기"/>
        </div>

        <div style="width: 100%; height: 15px;"></div>

        <div class="my-exam-element">

        </div>
    </div>





    <script th:src="@{/js/director/sidebar.js}"></script>
</nav>