<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="sidebar" class="side-ar">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/director/sidebar.css}">

    <div style="width: 100%; height: 50px;"></div>

    <span class="side-title"> 내가 추출한 문제 </span>

    <div style="width: 100%; height: 15px;"></div>
    <div style="width: 100%; height: 45px; display: flex; justify-content: center; align-items: center;">
        <input class="side-form" placeholder="내 시험 찾기"/>
    </div>

    <div style="width: 100%; height: 15px;"></div>

    <div class="my-exam-element">
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
        <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>    <span class="side-element"> 수능 수학 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 2 </span>
        <span class="side-element"> 모의고사 상급 추출 1 </span>
        <span class="side-element"> 수능 수학 추출 4 </span>
    </div>



</nav>