<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{view/layout/layout}">


<div layout:fragment="content">

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/layout/index.css}">

    <div class="index-ar c-s-c">

        <div style="height: 30px;"></div>

        <div class="index-video-ar">
            유튜브 시연 영상
        </div>

        <div style="height: 30px;"></div>

        <div class="index-text-ar">
            설명 텍스트
        </div>

        <div style="height: 30px;"></div>
    </div>



</div>
</html>