<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar-ar r-s-c">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/layout/navbar.css}">

    <div class="navbar-left">
        <span class="navbar-text r-s-c">나만의 저장소를 만들고 시험 문제를 관리 하세요.</span>
    </div>

    <div class="navbar-right" style="margin-left: auto;">
        <span th:if="${!isLogin}" class="navbar-text r-e-c hover-pointer-green" id="login-btn">로그인 / 회원가입</span>
        <span th:if="${isLogin}" class="navbar-text r-e-c hover-pointer-green" id="mypage-btn" onclick="window.location.href='/ai-exam-hub/mypage';">마이페이지</span>
    </div>
    <script th:src="@{/js/layout/navbar.js}"></script>
</nav>