<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="question-detail">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/mypage/question-detail.css}">

<div class="question-detail-background c-c" id="question-detail-modal">


    <div class="question-detail-modal c-s-c">
<div style="width: 100%;">
        <div class="detail-modal-btn r-e-c">
            <span id="q-d-close-btn" class="hover-pointer">X</span>
        </div>

        <div style="height: 10px;"></div>

        <div class="qm-question-title-ar c-c" id="question-detail-title">

        </div>

        <div style="height: 10px;"></div>
        <input type="hidden" id="question-code"/>
        <div class="qm-question-title-ar r-s-c">문제</div>
        <textarea class="qm-question-ar" id="q-detail-question"></textarea>
        <div class="qm-question-title-ar r-s-c">문제 보기</div>
        <textarea class="qm-question-ar" id="q-detail-question-sub"></textarea>

        <div class="qm-question-title-ar r-s-c">보기1</div>
        <textarea class="qm-question-ar" style="height: 50px;" id="q-detail-option1"></textarea>

        <div class="qm-question-title-ar r-s-c">보기2</div>
        <textarea class="qm-question-ar" style="height: 50px;" id="q-detail-option2"></textarea>

        <div class="qm-question-title-ar r-s-c">보기3</div>
        <textarea class="qm-question-ar" style="height: 50px;" id="q-detail-option3"></textarea>

        <div class="qm-question-title-ar r-s-c">보기4</div>
        <textarea class="qm-question-ar" style="height: 50px;" id="q-detail-option4"></textarea>

        <div class="qm-question-title-ar r-s-c">보기5</div>
        <textarea class="qm-question-ar" style="height: 50px;" id="q-detail-option5"></textarea>

        <div class="qm-question-title-ar r-s-c">코멘트</div>
        <textarea class="qm-question-ar" id="q-detail-comment"></textarea>

        <div style="height: 10px;"></div>
        <div style="width: 100%;" class="r-e-c">

            <div class="question-delete-btn c-c" id="question-delete-btn">
                삭제
            </div>
            <div style="width: 10px;"></div>
            <div class="question-edit-btn c-c" id="question-edit-btn">
                수정
            </div>
        </div>
        <div style="height: 10px;"></div>
</div>

</div>



</div>





    <!-- js -->
    <script th:src="@{/js/mypage/question-detail.js}"></script>
</div>