<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="question-detail">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/mypage/question-detail.css}">

<div class="question-detail-background c-c">


    <div class="question-detail-modal c-s-c">
<div style="width: 100%;">
        <div class="detail-modal-btn r-e-c">
            <span id="q-d-close-btn" class="hover-pointer">X</span>
        </div>

        <div style="height: 10px;"></div>

        <div class="qm-question-title-ar c-c">
            2025_수능_국어_화법과 작문_홀수형_45번
        </div>

        <div style="height: 10px;"></div>

        <div class="qm-question-title-ar r-s-c">문제</div>
        <textarea class="qm-question-ar"></textarea>
        <div class="qm-question-title-ar r-s-c">문제 보기</div>
        <textarea class="qm-question-ar"></textarea>

        <div class="qm-question-title-ar r-s-c">보기1</div>
        <textarea class="qm-question-ar" style="height: 50px;"></textarea>

        <div class="qm-question-title-ar r-s-c">보기2</div>
        <textarea class="qm-question-ar" style="height: 50px;"></textarea>

        <div class="qm-question-title-ar r-s-c">보기3</div>
        <textarea class="qm-question-ar" style="height: 50px;"></textarea>

        <div class="qm-question-title-ar r-s-c">보기4</div>
        <textarea class="qm-question-ar" style="height: 50px;"></textarea>

        <div class="qm-question-title-ar r-s-c">보기5</div>
        <textarea class="qm-question-ar" style="height: 50px;"></textarea>


</div>

</div>



</div>





    <!-- js -->
    <script th:src="@{/js/mypage/question-detail.js}"></script>
</div>