<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{view/layout/layout}">


<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/mypage/questions.css}">

    <th:block th:replace="~{view/mypage/question-detail :: question-detail}"></th:block>

    <div class="questions-ar c-c-c">

        <div style="height: 30px;"></div>
        <div class="hub-title-ar" th:text="${extractHub.extractHubName}"></div>

        <div style="height: 30px;"></div>

        <div style="width: 70%;" class="r-s-c">
            <input class="question-input" id="question-search-input" placeholder="문제 찾기"/>
            <div style="width: 10px;"></div>
            <div class="question-search-btn c-c" id="question-search-btn">찾기</div>
        </div>


        <div class="r-e-c" style="height: 50px; width: 70%;">

            <div class="q-sort-btn hover-pointer-green">
                · 생성 일자로 정렬
            </div>
            <div style="width: 15px;"></div>
            <div class="q-sort-btn hover-pointer-green">
                · 업데이트 일자로 정렬
            </div>

            <div class="add-question-btn c-c hover-pointer-green" style="margin-left: auto;" id="create-exam">
                · 시험지 생성
            </div>

            <div class="add-question-btn c-c hover-pointer-green" style="margin-left: 10px;" id="add-question-btn">
                · 문제 추가
            </div>

        </div>
        <input type="hidden" th:value="${extractHub.extractHubCode}" id="exhcode">
        <div class="question-ele c-s-s" th:each="ele : ${list}" th:data-questioncode="${ele.extractQuestionCode}" th:data-questiontitle="${ele.examYear +'_'+ ele.examCateName +'_'+ ele.subjectName +'_'+ ele.subjectDetailName +'_'+ ele.examTypeName +'_'+ele.questionNo+'번'}">
            <div style="height: 5px;"></div>

            <div class="question-title" th:text="${ele.examYear +'_'+ ele.examCateName +'_'+ ele.subjectName +'_'+ ele.subjectDetailName +'_'+ ele.examTypeName +'_'+ele.questionNo+'번'}">

            </div>

            <div style="height: 5px;"></div>

            <div class="question-comment" th:text="${ele.comment}">

            </div>

            <div style="height: 5px;"></div>

            <div class="r-s-c" style="width: 100%;">
                <div class="question-comment" th:text="${'생성일 : ' + ele.createdAt}">

                </div>
                <div class="question-comment" style="margin-left: auto;" th:text="${'마지막 업데이트 : ' + ele.updatedAt}">

                </div>
            </div>

            <div style="height: 5px;"></div>
        </div>

    </div>




    <script th:src="@{/js/mypage/questions.js}"></script>
</div>
</html>