<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{view/layout/layout}">


<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/mypage/repositories.css}">

    <div class="create-repository-modal-ar c-c">

        <div class="create-repository-form c-s-c">
            <div style="height: 10px;"></div>
            <div class="repo-title">저장소명</div>
            <div style="height: 5px;"></div>
            <input class="c-r-repo-name" id="create-repo-name" placeholder="국어 상급 문제 모음 / 나만의 오답 문제 모음 등"/>
            <div style="height: 10px;"></div>
            <div class="repo-title">설명</div>
            <div style="height: 5px;"></div>
            <textarea class="c-r-repo-name" style="height: 200px;" id="create-repo-comment" placeholder="저장소에 대한 설명. 해당 저장소에 어떤 문제들을 저장할 것인지 등"></textarea>
            <div style="height: 10px;"></div>
            <div class="r-e-c" style="width: 100%;">
                <div class="quit-btn c-c" id="create-repo-quit">취소</div>
                <div style="width: 10px;"></div>
                <div class="question-create-btn c-c" id="create-repo-submit">생성</div>
            </div>

        </div>

    </div>

<div class="mypage-repo-ar c-c-c">

    <div style="height: 30px;"></div>

    <div style="width: 70%;" class="r-s-c">
        <input class="repo-input" id="repo-search-input" placeholder="내 저장소 찾기" th:value="${page.search}"/>
        <div style="width: 10px;"></div>
        <div class="repo-search-btn c-c" id="repo-search-btn">찾기</div>
    </div>


    <div class="r-e-c" style="height: 50px; width: 70%;">

        <div class="sort-btn hover-pointer-green">
            · 생성 일자로 정렬
        </div>
        <div style="width: 15px;"></div>
        <div class="sort-btn hover-pointer-green">
            · 업데이트 일자로 정렬
        </div>

        <div class="create-repo-btn c-c hover-pointer-green" style="margin-left: auto;" id="create-repository">
            · 저장소 생성
        </div>

    </div>

    <div id="repo-ele-ar" class="c-c-c" style="width: 100%;">

        <div class="repo-element border-bottom-grey1 c-s-c" th:each="ele : ${list}" th:data-hubcode="${ele.extractHubCode}">

            <div style="height: 10px;"></div>

            <div class="repo-ele-top r-s-c">
                <div th:text="${ele.extractHubName}"></div>
                <div style="margin-left: auto;" th:text="${'['+ele.count+']문제'}"></div>
            </div>

            <div style="height: 10px;"></div>

            <div class="repo-comment-ar r-s-c">
                <div th:text="${ele.comment}"></div>
            </div>

            <div style="height: 10px;"></div>

            <div class="repo-bottom r-e-c">
                <div th:text="${'생성일 : ' + ele.createdAt}">
                </div>
                <div style="margin-left: auto;" th:text="${'마지막 업데이트 : ' + ele.updatedAt}">
                </div>
            </div>
            <div style="height: 10px;"></div>

        </div>

    </div>

    <div style="height: 30px;"></div>

    <div style="width: 100%; height: 50px;" class="r-c-c">
        <a class="page-btn c-c"  th:href="@{/ai-exam-hub/mypage/repository(page=${page.startPage}, search=${page.search})}"> << </a>
        <div style="width: 4px;"></div>
        <a class="page-btn c-c"  th:href="@{/ai-exam-hub/mypage/repository(page=${page.page -1}, search=${page.search})}"> < </a>
        <div style="width: 2px;"></div>
        <a th:each="num : ${page.pages}" style="margin-left: 2px; margin-right: 2px;" th:class="${num == page.page} ? 'page-btn checked c-c':'page-btn c-c'" th:text="${num}" th:href="@{/ai-exam-hub/mypage/repository(page=${num}, search=${page.search})}">
        </a>
        <div style="width: 2px;"></div>
        <a class="page-btn c-c"  th:href="@{/ai-exam-hub/mypage/repository(page=${page.page +1}, search=${page.search})}"> > </a>
        <div style="width: 4px;"></div>
        <a class="page-btn c-c"  th:href="@{/ai-exam-hub/mypage/repository(page=${page.endPage}, search=${page.search})}"> >> </a>
    </div>

</div>
    <script th:src="@{/js/mypage/repositories.js}"></script>
</div>
</html>
