.right-form-ar{
    /* 크기 */
    width: 500px;
    height: 607px;

    /* 테두리 */
    /*border-radius: 8px;*/
    border: 1px solid #0969DA;

    /* 배경 */
    background-color: #FFFFFF;

    /*위치*/
    position: fixed;
    left: calc(100% - 550px);
    top: 100px;
    z-index: 2500;

    /* 정렬 */
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow-y: auto;
}

.right-form-ar:hover{
    border: 2px solid #0969DA;
}

/* 모달 상단 버튼 영역 */
.modal-top-btn-ar{
    /* 크기 */
    width: 100%;
    height: 20px;

    /* 정렬 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* 테두리 */
    border-bottom: 1px solid #0969DA;
/*    border-top-left-radius: 8px;
    border-top-right-radius: 8px;*/

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

}

/* 모달 이동 버튼 */
.modal-move-btn{
    /* 크기 */
    width: 20px;
    height: 20px;

    /* 테두리 */
    border-right: 1px solid #0969DA;
/*    border-top-left-radius: 8px;*/

    /* 배경 */
    background-color: #F6F8FA;

    /* 텍스트 */
    font-size: 10px;
    color: #0969DA;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    /* 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-move-btn:hover{
    cursor: grabbing;
    background-color: #0969DA;
    color: #FFFFFF;

    border-top: 2px solid #0969DA;
    border-left: 2px solid #0969DA;
}

/* 타이틀 클릭시 */
.cap-btn:hover{
    color: #00C471;
    cursor: pointer;
}


/* 모달 숨기기 버튼 */
.modal-hide-btn{
    /* 크기 */
    width: calc(100% - 20px);
    height: 20px;

    /* 테두리 */
    /*border-top-right-radius: 8px;*/

    /* 배경 */
    background-color: #F6F8FA;

    /* 텍스트 */
    font-size: 10px;
    color: #0969DA;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    /* 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 모달 숨기기 버튼 */
.modal-hide-btn:hover{
    cursor: pointer;
    background-color: #0969DA;
    color: #FFFFFF;

    border-top: 2px solid #0969DA;
    border-right: 2px solid #0969DA;
}

/* 모달 나타내기 버튼 */
.modal-show-btn{
    /* 크기 */
    width: 10px;
    height: 65px;/* 전체 - 네비 바 높이 */

    /* 테두리 */
    border: 2px solid #0969DA;

    /* 배경 */
    background-color: #F6F8FA;

    /* 텍스트 */
    font-size: 13px;
    color: #0969DA;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    /* 정렬 */
    display: none;
    justify-content: center;
    align-items: center;

    /*위치*/
    position: fixed;
    right: 0;
    top: 50vh;
    z-index: 1000;
}

.modal-show-btn:hover{
    cursor: pointer;
}

/* textarea */
.t-ar{
    /* 크기 조절 불가 */
    resize: none;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #D1D9E0;
}

.t-ar:focus , .t-ar:hover{
    outline: none;
    border-color: #00C471 !important;
}

/* 보기 부분 */
.option-ar{
    /* 크기 */
    width: 100%;
    height: 150px;

    /* 정렬 */
    display: flex;
    flex-direction: row;

    /* 여백 */
    margin-bottom: 5px;

    /* 테두리 */
    /*border-bottom: 1px solid #000000;*/
}

.option-title{
    /* 크기 */
    width: 13%;

    /* 정렬 */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* 텍스트 */
    font-size: 15px;
    color: #282C30;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    /* 여백 */
    /*padding-right: 5px;*/
    padding-left: 10px;

    /* 정렬 */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* 문제보기 부분 */
.q-sub-ar{
    /* 크기 */
    width: calc(100% - 20px);
    height: 300px;

    /* 테두리 */
    /*border-bottom: 1px solid #000000;*/

    /* 여백 */
    padding-left: 10px;
    padding-right: 10px;

    /* 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.q-sub-title{
    /* 크기 */
    width: 100%;
    height: 30px;

    /* 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 텍스트 */
    font-size: 15px;
    color: #282C30;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    /* 여백 */
    padding-right: 5px;

    /* 정렬 */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.q-num-ar{

    /* 크기 */
    width: calc(100% - 5px);
    height: 50px;
    /*border-bottom: 1px solid #000000;*/

    /* 정렬 */
    display: flex;
    flex-direction: row;
}

/* 캡쳐 영역 */

#capture-area{

    position: absolute;
    background: rgba(0, 128, 0, 0.2); /* 연한 녹색 배경 */
    border: 2px dashed #008000; /* 녹색 테두리 */
    display: none;
    z-index: 9999;

}


/* 하단 버튼 영역 */
.r-form-btn-ar{

    /* 크기 */
    width: calc(100% - 20px);
    height: 40px;

    /* 여백 */
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;

    /* 정렬 */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}


.reset-btn{

    /* 크기 */
    width: 99px;
    height: 41px;

    /* 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 텍스트 */
    font-size: 15px;
    color: #FFFFFF;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    border-radius: 8px;

    background-color: #881f1f;
}

.extract-submit-btn{

   /* 크기 */
   width: 99px;
   height: 41px;

   /* 정렬 */
   display: flex;
   justify-content: center;
   align-items: center;

   /* 텍스트 */
   font-size: 15px;
   color: #FFFFFF;
   font-family: "Noto Sans KR", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;

   border-radius: 8px;

   background-color: #1F883D;
}

.extract-submit-btn:hover{
    background-color: #165e2a;
    cursor: pointer;
}
.reset-btn:hover{
    background-color: #731919;
    cursor: pointer;
}