.right-form-ar{
    /* 크기 */
    width: 300px;
    height: 500px;

    /* 테두리 */
    border-radius: 8px;
    border: 1px solid #D1D9E0;

    /* 배경 */
    background-color: #FFFFFF;

    /*위치*/
    position: fixed;
    right: 15px;
    top: 130px;
}

.right-form-ar:hover{
    border: 1px solid #0969DA;
}