.right-form-ar{
    /* 크기 */
    width: 500px;
    height: 600px;

    /* 테두리 */
    border-radius: 8px;
    border: 1px solid #D1D9E0;

    /* 배경 */
    background-color: #FFFFFF;

    /*위치*/
    position: fixed;
    left: calc(100% - 550px);
    top: 100px;
    z-index: 2500;

    display: none;
}

.right-form-ar:hover{
    border: 1px solid #0969DA;
}