/*전체 영역*/
html{
    /* 크기 */
    height: 100dvh;
    width: calc(100vw - 8px);

    /* 여백 */
    padding: 0px;
    margin: 0px;
}
body{
    /* 크기 */
    height: 100%;
    width: 100%;

    /* 여백 */
    padding: 0px;
    margin: 0px;

    overflow: overlay

    /* 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* 스크롤 바 */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb{
	background: #00C471;
}
::-webkit-scrollbar-track {
	background: #F6F6F6;
}

/* 메인 영역 */
.content-ar{

    /* 크기 */
    width: 80%;/* 전체 - 사이드바 넓이 - 우측 폼 넓이 */
    min-height: 610px;

    /* 여백 */
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 64px;

}

.hover-pointer:hover{
    cursor: pointer;
}

.hover-pointer-green:hover{
    cursor: pointer;
    color: #00C471;
}

/* 정렬 공통 */
/* center-center */
.c-c{
    /* 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* row - center - center */
.r-c-c{
    /* 정렬 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* row - start - center */
.r-s-c{
    /* 정렬 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
/* row - end - center */
.r-e-c{
    /* 정렬 */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
/* column - start - center */
.c-s-c{
    /* 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* column - start - start */
.c-s-s{
    /* 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
/* column - center - center */
.c-c-c{
    /* 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}







